
body {
    font-size: 12px;
    color: white;
    background-color: white;
    margin: 0;
}

#flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
}

#info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: aquamarine;
    width: 70vw;
    height: 50vh;
    border-radius: 20%;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: lightblue;
    width: 75%;
    height: 30%;
    border-radius: 20%;
}

.rps-button {
    background-color: green;
    color: white;
    
    padding: 3px 18px;
    border-radius: 50%;
    border-color: green;
}

#result-output {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;

    background-color: gray;
    width: 50%;
    height: 20%;
    border-radius: 20%;
}